@inject SignInManager<User> signInManager;
@model Newhajz

@{
    ViewData["Title"] = "عرض التفاصيل";
}

<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">


        <div class="row">
            <div class="col-md-12">

                <div class="card mb-4">
                    <h5 class="card-header">عرض التفاصيل</h5>



                    <hr class="my-0" />

                    <div class="card-body">
                        <form asp-action="Details" id="addNewUserForm">
                            <div class="row" id="DataTables">
                                
                                <div class="col-md-3 mb-3">

                                    <label asp-for="Number" class="form-label">رقم الحجز </label>
                                    <input  id="Number"asp-for="Number" type="text" class="form-control" readonly />
                                </div>
                                <div class="col-md-3 mb-3">

                                    <label asp-for="Name" class="form-label">اسم </label>
                                    <input  id="Name"asp-for="Name" type="text" class="form-control" readonly />
                                </div>

                                <div class="col-md-3 mb-3">

                                    <label asp-for="Address" class="form-label">العنوان</label>
                                    <input id="Address" asp-for="Address" type="text" class="form-control" readonly />
                                </div>
                                 <div class="col-md-3 mb-3">

                                    <label asp-for="PhoneNumber" class="form-label">رقم الهاتف</label>
                                    <input id="PhoneNumber" asp-for="PhoneNumber" type="text" class="form-control" readonly />
                                </div>

                                <div class="col-md-3 mb-3">
                                    <label asp-for="Hajzdate" class="form-label">تاريخ الحجز</label>
                                    <input asp-for="Hajzdate" type="text" class="form-control" readonly />
                                </div>

                                <div class="col-md-3 mb-3">
                                    <label asp-for="Daydate" class="form-label">تاريخ يوم الحجز</label>
                                    <input asp-for="Daydate" type="text" class="form-control" readonly />
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label asp-for="Typerev" class="form-label">الفترة</label>
                                    <input asp-for="Typerev" type="text" class="form-control" readonly />
                                </div>

                                <div class="col-md-3 mb-3">
                                    <label asp-for="Price" class="form-label">المبلغ الاجمالي</label>
                                    <input asp-for="Price" type="text" class="form-control" readonly />
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label asp-for="PriceD" class="form-label">المبلغ المدفوع</label>
                                    <input asp-for="PriceD" type="text" class="form-control" readonly />
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label asp-for="PriceR" class="form-label">المبلغ المتبقي</label>
                                    <input asp-for="PriceR" type="text" class="form-control" readonly />
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label asp-for="Periodhajz" class="form-label">الفترة</label>
                                    <input asp-for="Periodhajz" type="text" class="form-control" readonly />
                                </div>
                               <div class="col-md-3 mb-3">

                                        <label asp-for="Typerev.Name" class="form-label"> </label>
                                        <input id="Typerev.Name" asp-for="Typerev.Name" type="text" class="form-control" readonly />
                                    </div>
                                    <div class="col-md-3 mb-3">

                                        <label asp-for="Itemrev.Name" class="form-label"> </label>
                                        <input id="Itemrev.Name" asp-for="Itemrev.Name" type="text" class="form-control" readonly />
                                    </div>
                                    <div class="col-md-3 mb-3">

                                        <label asp-for="Typemor.Name" class="form-label"> </label>
                                        <input id="Typerev.Name" asp-for="Typerev.Name" type="text" class="form-control" readonly />
                                    </div>

                                <div class="col-md-3 mb-3">
                                    <label asp-for="Notice" class="form-label">ملاحظات</label>
                                    <textarea asp-for="Notice" class="form-control" rows="3" style="resize: none !important;" readonly></textarea>
                                </div>
                                @if (User.IsInRole("مدير_النظام"))
                                {
                                    <div class="modal-footer justify-content-between">

                                        <p class="fw-bolder">تم عمل هذا الحجز بواسطة: (@Model.User.UserName)</p>

                                    </div>
                                }
                            </div>
>

                                
                            <div class="mt-2">
                                   <button type="button" id="btnprint"  class="btn btn-primary me-2">طباعة</button>
                                <button asp-action="Newhajz" type="submit" class="btn btn-primary me-2">رجوع</button>

                            </div>
                        </form>
                    </div>
                    <!-- /Account -->
                </div>

            </div>
        </div>
    </div>
    <!-- / Content -->




    <div class="content-backdrop fade"></div>
</div>
<!-- /Layout wrapper -->
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $('#btnprint').click(function(){
        document.body.innerHTML=document.all.item("DataTables").innerHTML
        window.print()
        window.location.reload()
    });

</script>